<div class="p-6 text-base text-gray-900">
    <p>
        しかし、
        <span class="relative -mx-px my-[-0.2rem] rounded-sm px-px py-[0.2rem]">
            伝統的な仏教徒の中には、六道輪廻を文字通りの教えとして受け入れている人々も多く存在します。
        </span>
        <span class="relative -mx-px my-[-0.2rem] rounded-sm px-px py-[0.2rem]">
            特に、東南アジアの仏教徒の中には、六道輪廻や因果応報の法則を深く信じ、その教えに基づいて日常生活を送る人々がいます。
        </span>
        <span class="relative -mx-px my-[-0.2rem] rounded-sm px-px py-[0.2rem]">
            彼らにとって、これらの教えは現実のものであり、象徴的な解釈は受け入れがたい場合もあります。
        </span>
        <span class="ms-1 inline-flex max-w-full items-center relative top-[-0.094rem]">
            <a href="https://genshu.nichiren.or.jp/publications/post-5624/id-5651/" target="_blank" rel="noopener"
                class="flex h-6 overflow-hidden rounded-xl px-2.5 text-[0.5625em] font-medium text-gray-500 bg-[#F4F4F4] dark:bg-[#303030]">
                <span class="relative bottom-0 left-0 flex h-full w-full items-center">
                    <span class="flex h-4 w-full items-center justify-between overflow-hidden"
                        style="opacity: 1; will-change: transform, opacity; transform: none;">
                        <span class="max-w-full grow truncate overflow-hidden text-center">現代宗教研究所</span>
                    </span>
                </span>
            </a>
        </span>
    </p>
</div>