.print-only {
    display: none;
}

@media print {
    body {
        font-size: 84%;
    }

    .print-only {
        display: block;
    }

    audio {
        display: none;
    }
}

ul.checklist {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul.checklist li {
    line-height: 1.2;
    margin-bottom: 2px;
}

ul.checklist li::before {
    content: "✅ ";
    font-size: 1.2em;
    margin-right: 5px;
}