:target {
    background-color: #e0f2f7;
    /* 薄青色 */
}

.video-container {
  width: 100%; /* 親要素の幅を100%にする */
  aspect-ratio: 16 / 9; /* 幅と高さの比率を16:9に固定 */
}

.video-container iframe {
  width: 100%;
  height: 100%;
}